@import '../../assets/stylesheets/config/colours';
@import '../../assets/stylesheets/config/layout';

.NavBar {
  background-color: $dark-blue;
  color: $lightest-blue;
  display: flex;
  align-items: center;

  .container {
    margin: 0 10px;
    height: $navbar-height;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .name {
    font-family: 'Permanent Marker', cursive;
    // margin: 0;
  }
}
