@import '../assets/stylesheets/config/colours';

.map-view {
  min-height: 50vh;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $lightest-blue;
  width: 3.6em;
  height: 3.6em;
  font-size: 0.7em;
  font-weight: bold;
  background-color: $dark-blue;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);

  &:hover {
    .icon-marker-tooltip {
      display: block;
    }
  }
}

.icon-high {
  .icon-marker {
    background-color: $red;
  }
}

.icon-low {
  .icon-marker {
    background-color: $medium-blue;
  }
}

.icon-marker-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: $medium-blue;
  border-radius: 0.4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, 0.9);

  &:before {
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: $medium-blue;
    transform: rotate(45deg);
    margin-left: -0.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-top: 0;
  }

  // h3 {
  //   font-size: 1.2em;
  //   margin: 0.1em 0;
  //   font-weight: normal;
  //   color: $light-blue;
  // }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0.6em 0 0;
  }
}
