.GlobalStat {
  p {
    text-align: center;
    margin: 0;

    &.figure {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    &.name {
      font-size: 1rem;
    }

    &.pm {
      font-size: 1rem;
    }
  }
}
